<div class="form-table">
  <h1 class="h">Edit User Form</h1>
  <form [formGroup]="editForm" (ngSubmit)="onFormUpdate()">
    <div class="content">
      <div class="inputs">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="John"
            formControlName="firstName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Jones"
            formControlName="lastName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            placeholder="john222@jones.com"
            formControlName="email"
          />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div class="btn">
        <button mat-raised-button color="primary" type="submit">Update</button>
        <button mat-raised-button type="button" matDialogClose>
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
